/* header */

nav {
    display: flex;
    flex-wrap: wrap;
}
#ch, #lab_petit, .menu_petit, .imglangpetit{
    display: none;
} 
.imglang {
    margin-top: 20px;
    width: 45px;
    height: auto;
}
a {
    width: 2%;
    font-weight: bolder;
    color: #ffffff;
}
.ban {
    width: 20%;
    margin:0px 20px 0px 0px;
    padding:0px 0px;
}

.Image-image {
    border-radius: 10px;
    padding-top: 5%;
}
.banniere{
    width: 100%;
    height: 100%;
}
header {  
    color: white;
    background: -webkit-linear-gradient(top, rgba(234,92,13,1) 0%, rgba(183,74,14,1) 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
}

header * {
    margin:0;
    padding:0;
    font-size: 16px;
    line-height: 1;
 }

/* navigation et sous menu */
nav menuitem {
    position:relative;
    display:block;
    opacity:0;
    cursor:pointer;
 }
 
 nav menuitem > menu {
    position: absolute;
    pointer-events:none;
 }
 nav > menu { display:flex; }
 
 nav > menu > menuitem { pointer-events: all; opacity:1;margin-top: auto; }
 menu menuitem a { white-space:nowrap; display:block; }
    
 menuitem:hover > menu {
    pointer-events:initial;
 }
 menuitem:hover > menu > menuitem,
 menu:hover > menuitem{
    opacity:1;
 }
 nav > menu > menuitem menuitem menu {
    transform:translateX(100%);
    top:0; right:0;
 }

 
 nav .sousenca {
    background: #ea5c0d;
    color:#FFF;
    min-width:190px;
    transition: background 0.5s, color 0.5s, transform 0.5s;
    margin:0px 6px 6px 0px;
    padding:20px 40px;
    box-sizing:border-box;
    border-radius:10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    position:relative;
 }
 
 nav .enca {
   color:#FFF;
   width: fit-content;
   transition: background 0.5s, color 0.5s, transform 0.5s;
   margin:0px 6px 6px 0px;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-left: 40px;;
   padding-right: 10px;
   position:relative;
   border-radius: 10px;
}

nav .enca:hover:before, nav .sousenca:hover:before {
    content: '';
    top:0;left:0;
    position:absolute;
    background:rgba(0, 0, 0, 0.2);
    width:100%;
    height:100%;
 }

 nav > menu > menuitem > a + menu:after{
    content: '';
    position:absolute;
    border:10px solid transparent;
    border-top: 10px solid white;
    left:12px;
    top: -40px;  
 }
 nav menuitem > menu > menuitem > a + menu:after{ 
    content: '';
    position:absolute;
    border:10px solid transparent;
    border-left: 10px solid white;
    top: 20px;
    left:-180px;
    transition: opacity 0.6, transform 0s;
 }
 
 nav > menu > menuitem > menu > menuitem{
    transition: transform 0.6s, opacity 0.6s;
    transform:translateY(150%);
    opacity:0;
 }
 nav > menu > menuitem:hover > menu > menuitem,
 nav > menu > menuitem.hover > menu > menuitem{
    transform:translateY(0%);
    opacity: 1;
 }
 
 menuitem > menu > menuitem > menu > menuitem{
    transition: transform 0.6s, opacity 0.6s;
    transform:translateX(195px) translateY(0%);
    opacity: 0;
 } 
 menuitem > menu > menuitem:hover > menu > menuitem,  
 menuitem > menu > menuitem.hover > menu > menuitem{  
    transform:translateX(0) translateY(0%);
    opacity: 1;
 }

 footer {
    font-size: 1rem;
    background-color: #333;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    border: 2px solid #F7AF3E;
}

.img_princi{
    width:100vw;
    margin-left: -70px;
    
}
.img_secondaire{
    width:50%;
    height:auto;
    border-radius: 60px;
}
h1 {
    padding-top: 150px;
    font-size: 3.5rem;
    color:#F7AF3E ;
    text-align: center;
    font-family: "Dyno Bold";
}

body {
    background-color: #333333; 
    color:white;
    padding-top:80px;
    padding-left:60px;
    font-family: 'Cicle', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
}

h2 {
    font-size: 2.5rem;
    color:#F7AF3E ;
    font-family: "Dyno Bold";
}
b {
    color:#F7AF3E ;
}
li {
    padding-top: 10px;
}
.orange {
    border-radius: 50px;
    background-color: rgb(255, 102, 0);
    padding: 30px;
    margin: 80px;
}

.orange >img {
    width: 15%;
    height: auto;
    padding: 20px;
    float: left;
}

.orange::after {
    content:"";
    display: block;
    clear: both;
}

td{
    width:50%
}
p {
    padding: 20px;
    display: block;
}

section {
    background-color: #505050;
    border-radius: 60px;
    border: solid 7px #F7AF3E;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 20px;
}
table {
    padding-bottom: 50px;
}
.texte {
    display: block;
    width: 40%;
    margin-left: 4%;
}
.block-img-txt {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.block-img-txt2 {
    text-align: left;flex-wrap: nowrap;flex-direction: row;display: flex;align-items: center;
}
.block-img-txt2 img {
    width: 50%;
    height: auto;
}
.block {
    padding: 40px;
    background-color: #1E3A84;
    margin-left: 10%;
    margin-right:10% ;
}
.block >section {
    text-align: center;
    padding: 40px;
    margin-left: 11%;
    margin-right: 15%;
    padding-top: 20px;
    width: 70%;
}
.block  .block-img-txt2 p{
    margin-top: -50px;
}
.block img {
    width: 70%;
}

.footer-container {
    display: flex;
    text-align: left;
    padding: 20px;
    background-color: #505050;
    color: #fff;
}
.footer-container h3 {
    margin-bottom: 10px;
}

.footer-container p {
    margin: 5px 0;
}

.main-content {
    padding: 20px;  
}

.carrousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 20px auto;
}
.carrousel {
    display: flex;
    animation: defilement 50s linear infinite;
}
.carrousel img {
    width: 20%;
    flex: 0 0 auto;
    border-radius: 10px;
    margin: 0 5px; 
}

@keyframes defilement {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.itinerary-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

.itinerary-container img {
    width: 30%;
    border-radius: 10px;
}

.itinerary-container section {
    width: 45%;
}

.Titre-container {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.Titre-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Titre-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #333333 100%);
}

.Image-title {
    position: absolute;
    top: 125px;
    left: 20px;
    color: white;
    font-size: 2.5rem;
    width: 20%;
    background-color: #33333344;
}
.conteneur {
    text-align: center;
  }

  .bouton-declencheur {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .bouton-declencheur:hover {
    background-color: #0056b3;
  }

  .boite-cachee {
    display: none;
    opacity: 0;
    margin-top: 20px;
    padding: 20px;
    background-color: #505050;
    border: 2px solid #007bff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: visibility 0.4s, opacity 0.4s;
  }
  .bouton-declencheur:focus + .boite-cachee {
    display:block;
    opacity: 1;
    -webkit-animation: scale-up-bottom 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scale-up-bottom 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
  @keyframes scale-up-bottom {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
  }
  .qui {
    width: 40%;
  }
@media (max-width: 1000px) {
    .Image-title{
        width: 35%;
    }
    .img_secondaire{
        width: 90%;
        margin: 40px;
    }
    .qui {
        width:100%
    }
    p,li,ul {
        font-size: 16px;
    }

    .block-img-txt,.block-img-txt2,.itinerary-container,.footer-container {
        flex-direction: column;
    }
    .block-img-txt2 img,.itinerary-container img{
        width: 100%;
    }

    .itinerary-container section {
        width: 70%;
    }
    .texte{
        width: 100%;
    }
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size:34px;
    }
}

@media (max-width:1000px) {

    nav, nav>li {
        display: none;
    }

    .ban {
        width: 25%;
    }
    
    #lab_petit {
        text-align: left;
        display:flex;
        color:white;
        border-radius: 30px;
        padding: 10px;
        position: relative;
        top:-40px
    }
    
    #ch:checked + .menu_petit:not(.imglangpetit) {
        display: flex;
        flex-direction: column; 
        position: relative;
        align-items: flex-start;
        justify-content: flex-start;
        list-style: none;
        top : -50px;
        background-color: rgba(183,74,14,1);
        width: 180px;
        height: 100vh;
    }
    
    #ch:checked + .menu_petit >li {
        /* position: relative;
        left: 40px;
        padding-left: -70px; */
        width: 100%;
    }
    .logo2 {
        background-color: gray;
        width: 40px;
        height: auto;
       margin-top: 40px;
    }
    
    header {
        height: 10%;
        width: 100%;
    }

    #ch:checked + .menu_petit .imglangpetit {
        display: inline-block;
        width: 40px;
        height: auto;
    } 
      
}